<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{static/css/index.css}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Dashboard</h1>
<h2>Send Announcement</h2>
<input type="hidden" id="csrfToken" th:value="${_csrf.token}" />
<label for="announcementMessage"></label><textarea id="announcementMessage" rows="4" cols="50"></textarea><br>
<button id="sendAnnouncement">Send</button>
<div id="result"></div>

<script>
    $(document).ready(function() {
        $('#sendAnnouncement').click(function() {
            const message = $('#announcementMessage').val();
            const csrfToken = $('#csrfToken').val();
            $.ajax({
                url: '/dashboard/announce',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ message: message}),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
                },
                success: function(response) {
                    const result = response;
                    $('#result').text(result);
                },
                error: function(xhr, status, error) {
                    $('#result').text('Error: ' + xhr.responseText);
                }
            });
        });
    });
</script>
</body>
</html>
